.adc{
    background-color: rgb(253, 0, 0);
}

.support{
    background-color: aqua;
}
.toplaner{
    background-color: chartreuse;
}
.midlaner{
    background-color: darkorchid;
}

.jungler{
    background-color: brown;
}
.badge{
    background-color:black;
    padding: 4px 8px;
    align-items: center;
    border-radius: 5px;
    margin-left: 150%;
    float: bottom;
}